/* Font Colors */
$base-font-size: 14px;
$base-font-family: "Arial", sans-serif;
$base-line-height: 25px;
$base-font-color: #333333;

/*Background Color*/
$primary-color: #00467F;
$gray-color: #dddddd;
$light-gray-color: #f1f1f1;
$transparent-white: rgba(255,255,255,.7);
$light-blue-color: #00A4E4;
